@font-face {
    font-family: "Ranade";
    src: url("../fonts/Ranade-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ranade";
    src: url("../fonts/Ranade-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ranade";
    src: url("../fonts/Ranade-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    min-height: 100%;
    background: #080808;
    color: #fff;
    font-family: "Ranade", Helvetica, Arial, sans-serif;

    overflow-x: hidden;
}
